name: CI

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Prepare static site
        run: |
          mkdir build
          cp -r Website/* build/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: website-build
          path: build

  release:
    needs: build
    uses: ./.github/workflows/cd.yml
    secrets: inherit
